html {
  font-family: sans-serif;
}


#fondo {
  background: url('/img/1.jpg') no-repeat center center fixed ;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   margin: 1rem auto;
   max-width: 80rem;
   padding: 1rem;  
   height: 30rem;
}

label, input {
  margin-bottom: 0.5rem;
  display: block;
  width: 100%;
}

label {
  font-weight: bold;
}
